#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
  }
  
  #splash-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
  }
  
  #splash-screen.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
  }
  