
body {
    font-family: Arial, sans-serif;
    background-color: #2C184B;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 60px; 

  }
  
  header {
    background-color: #F37F1C;
    width: 100%;
    height: 60px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  header h1 {
    color: white;
    font-size: 3em;
    margin: 0;
  }
  
  h2 {
    color: white;
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
  }
  
  .container {
    background-color: #F37F1C;
    padding: 10px 20px;
    border-radius: 36px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: left;
    position: relative;
    box-sizing: border-box; 
    border: 5px solid black;
  }
  
  .container label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    margin-bottom: 20px;
}

  
  .container label span {
    flex: 1;
    text-align: left;
    padding: 10px 0;
  }
  
  .container label input[type="radio"] {
    margin-left: 10px;
    transform: scale(1.5); 
  }
  
  ul, ol {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}
  
  .image-questions {
    position: absolute;
    right: -300px;
    top: 10px;
    width: 300px;
    height: auto;
  }
  
  .button {
    margin-top: 10px;
  }
  
  .button button {
    background-color: #ff7f00;
    color: black;
    font-size: 1.3em;
    padding: 10px 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: 6px solid black;
    border-radius: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
  }
  
  .button button:hover {
    background-color: black;
    color: #e37000;
  }
  
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-contenido {
  background-color: #F37F1C;
  color: black;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 8px;
}

.calavera_modal_img{
  width: 100px;
}

.cerrar {
  color: black;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

